.chat-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.messages {
    flex: 1;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
    background: #000000;
}

#messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
    margin-bottom: 8px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

/* .bubble {
    max-width: 60%;
    overflow-wrap: break-word;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.4;
    margin: 2px;
} */
.bubble {
    max-width: 60%;
    overflow-wrap: break-word;
    padding: 8px 12px;
    border-radius: 12px;
    margin: 2px;
}

.left .bubble {
    background: white;
    border-top-left-radius: 0;
}

.right .bubble {
    background: #1a60e2;
    border-top-right-radius: 0;
    color: white;
}

.input-box {
    display: flex;
    border-top: 4px solid red;
}

#msg {
    flex: 1;
    padding: 10px;
    border: 60px;
}

.send-btn {
    padding: 10px 15px;
    border: none;
    background: #1a60e2;
    color: white;
    cursor: pointer;
}

.top-interface {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
